$red: #dc2800;
@mixin mainCanvasStyle{
  height: 1000px;
  width: 100%;
  color: white;
  background-color: #ff0;
  text-align: center;
  display: flex;
  grid-template-columns: 50px 100%;
}

@mixin centered{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
