#dialogWrapper {
  min-height: 100%;
  text-align: center;
  height: 100%;
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#dialogBox {
  width: 100px;
  background: #dc2800;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 200;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#dialogBox input {
  background: white;
  margin: 5px; }
