@import './styleConstants';
#dialogWrapper {
  min-height: 100%;
  text-align: center;
  height: 100%;
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
  @include centered;
}

#dialogBox {
  width: 100px;
  background: $red;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 200;
  @include centered;
}

#dialogBox input {
  background: white;
  margin: 5px; }
