.drawingMode {
  height: 1000px;
  width: 100%;
  color: white;
  background-color: #ff0;
  text-align: center;
  display: flex;
  grid-template-columns: 50px 100%; }

#infoBar {
  height: 20px;
  color: yellow;
  text-align: center; }
