@import './styleConstants';
.interactiveMode {
  display: none; }

.mainView {
  @include mainCanvasStyle;
}

.dynamicZoomView {
  position: absolute;
  bottom: 0px;
  right: 0;
  background-color: #fff;
  width: 25%;
  height: 200px;
  border-style: solid;
  border-width: 3px; }

#dynamicZoomHeader {
  min-height: 10px;
  width: 100%;
  /* min-width: 15px; */
  background: $red; }

.infoBox {
  position: absolute;
  top: 190px;
  right: 0;
  background-color: rgba(140, 140, 140, 0.5);
  width: 25%;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  text-align: right;
  z-index: 10;
  color: white;
  padding: 10px; }
