.interactiveMode {
  display: none; }

.mainView {
  height: 1000px;
  width: 100%;
  color: white;
  background-color: #ff0;
  text-align: center;
  display: flex;
  grid-template-columns: 50px 100%; }

.dynamicZoomView {
  position: absolute;
  bottom: 0px;
  right: 0;
  background-color: #fff;
  width: 25%;
  height: 200px;
  border-style: solid;
  border-width: 3px; }

#dynamicZoomHeader {
  min-height: 10px;
  width: 100%;
  /* min-width: 15px; */
  background: #dc2800; }

.infoBox {
  position: absolute;
  top: 190px;
  right: 0;
  background-color: rgba(140, 140, 140, 0.5);
  width: 25%;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  text-align: right;
  z-index: 10;
  color: white;
  padding: 10px; }
