@import './styleConstants';
/* Layout Start */
body {
  margin: 0;
  background-color: #fff; }

.topnav {
  overflow: hidden;
  background-color: #fff;
  height: 100px; }

.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px; }

.topnav a:hover {
  background-color: #fff;
  color: black; }

.topnav a.active {
  background-color: $red;
  color: white; }

.table_cell {
  padding: 50px;
  background-color: #fff;
  color: #000;
  border-style: solid;
  border-width: 2px;
  height: 200px;
  overflow: scroll; }

.stats_bar {
  border-collapse: collapse;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  background-color: #fff;
  color: black;
  padding-left: 15px; }

/* Layout End */
table {
  border-collapse: collapse;
  border-style: hidden; }

table td {
  border: 1px solid #ccc; }

table th {
  border: 1px solid #ccc; }

th, td {
  padding: 5px;
  text-align: left;
  color:#000;
}
