html, body {
  height: 100%; }

.MasterController {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 40px;
  margin-top: 10px; }

.MasterController input {
  width: 300px;
  height: 100%;
  background-color: #fff;
  color: black;
  font-size: 18px;
  border-color: #000;
  border-width: 0px;
  border-radius: 13px; }

.MasterController input:hover {
  background-color: #eee; }
