.multiZoomDefinitionMode {
  height: 1000px;
  width: 100%;
  color: white;
  background-color: #ff0;
  text-align: center;
  display: flex;
  grid-template-columns: 50px 100%; }

.tabView {
  position: absolute;
  top: 120px;
  right: 0;
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  z-index: 10; }
