@import './styleConstants';
.multiZoomDefinitionMode {
  @include mainCanvasStyle;
  }

.tabView {
  position: absolute;
  top: 120px;
  right: 0;
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  z-index: 10; }
