.draggableDiv {
  position: absolute; }

.draggableDivheader {
  min-height: 15px;
  width: 100%;
  min-width: 15px; }

.resizable {
  border: 2px solid #445055;
  /* padding: 20px; */
  font-size: 25px;
  resize: both;
  overflow: hidden;
  background-color: #bdb19f;
  color: blue; }
