html, body {
            height: 100%;
            margin: 0;
            background-color: #445055;
        }

.options{
	display: auto;
	width: 100%;
	border: 1px solid rgba(255,255,255, 0.2);
	align-items: center;
	align-content: center;
	text-align: center;
}

p{
	color: white;
}
.dashboard{
	width:100%;
	height: 100%;
	/*display: grid;
	grid-template-columns: 70% 30%;*/
	}
#drawMode{
	display: none;
	grid-template-columns: 50px 50% 50%;
}
#interactiveMode{
	display: none;
}

#draggableDiv{
	position: absolute;
}

#draggableDivheader{
	min-height: 15px;
	width: 100%;
	background-color: #dc0028;
	min-width: 15px;
}


.resizable{
				border: 2px solid #445055;
				padding: 20px;
				font-size: 25px;
				width: 300px;
				resize: both;
				overflow: auto;
				background-color: #bdb19f;
				color: blue;
			}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
