/* Layout Start */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  height:100px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #dc2800;
  color: white;
}

.table_cell {
    padding:50px;
    background-color:  #dc2800;
    color:#fff;
    border-style: solid;
    border-width: 2px;
    height: 200px;
    overflow: scroll;
}


.stats_bar{
    background-color: #dc2800;
    color: white;
}

.main_helicopter_view{
    height: 1000px;
    width: 100%;
    color: white;
    background-color: #888;
    text-align: center;
}

.dynamicZoomView{
    position: absolute ;
    bottom: -200px;
    right: 0;
    background-color: #888;
    width: 25%;
}

.infoBox{
    position: absolute ;
    top: 200px;
    right: 0;
    background-color: #888;
    width: 25%
}

/* Layout End */
